/* CURRENT, BUT SUBJECT TO CHANGE
   background color: #121212
   text color: #E0E0E0 
   hover color: #B0B0B0 */

:root {
  background-color: #121212;
}

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

body {
  color: #E0E0E0;
}

a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

a:hover {  
  color: #B0B0B0;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #121212;
}

/* nav { */
  /* padding: 0px 10px; */
  /* border: 2px solid; */
  /* border-radius: 10px; */
/* } */

nav a {
  display: inline-block;
  margin: 0px 10px;
}

main {
  z-index: 0;
  display: flex;
  padding: 20px;
  overflow-x: hidden;
  /* border: 5px solid red; */
}

.posts li h1, li h2 {
  display: inline-block;
  padding: 0px 10px;
}

.posts li h1 {
  color: #E0E0E0;
}

.posts li:hover, li:hover a {
  color: #B0B0B0;
}

.content {
  width: 75%;
  padding: 0px 20px;
}

.post-info {
  text-align: center;
}

#post-name {
  font-size: 75px;
}

#post-date {
  font-weight: lighter;
  font-style: italic;
  position: relative;
  top: -45px;
}

.content h1 {
  text-align: center;
  font-weight: bold;
}

/* TODO: how to prevent it from scrolling? keep it fixed on the side. */
/* maybe remove the `main` section and split into different div's without common parent? */ 
.toc {
  text-align: center;
  width: 25%;
  padding: 50px 20px;
}

/* .publish-form { */
  /* display: block; */
  /* text-align: center; */
/* } */

/* .post-publish { */
  /* display: inline-block; */
/* } */
