/* CURRENT, BUT SUBJECT TO CHANGE
   background color: #121212
   text color: #E0E0E0 
   hover color: #B0B0B0 */

/* TODO: fix displaying weird characters where em dash and arrows are supposed to be */

:root {
  background-color: #121212;
}

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

body {
  color: #E0E0E0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
}

a:hover {  
  color: #B0B0B0;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

strong {
  font-weight: bold;
}

em {
  font-weight: italic;
}

code, pre {
  background-color: black !important;
  border-radius: 15px;
  font-family: monospace;
}

pre {
  padding: 10px;
}

code:not(pre > code) {
  padding: 0px 5px;
}

/* TODO: there must be a better way to achieve the two things below. */
/* Hacky solution for keeping multi-line codeblocks near the related text above them. */
/* p ~ pre { */
  /* position: relative; */
  /* top: -15px; */
  /* margin-bottom: -50px; */
/* } */
  
/*
  Hacky solution for adding separation between a multi-line codeblock with
  related text before it, but unrelated text after it.

  TODO: figure out how to not apply this for <p>'s that have a <pre> after them but an <h2> before them
  TODO: it impacts places it shouldn't
*/
/* p ~ pre ~ p::before { */
  /* content: "\A"; */
  /* white-space: pre; */  
/* } */

sup > a {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #121212;
}

main {
  z-index: 0;
}

nav a {
  display: inline-block;
  margin: 0px 10px;
}

header, .content {
  padding: 0px 50px;
}

.posts li h1, .posts li h2 {
  display: inline-block;
  padding: 0px 10px;
}

.posts li:hover, .posts li:hover a {
  color: #B0B0B0;
}

.content {
  width: 75%;
  line-height: 1.25;
}

.toc {
  position: fixed;
  width: 25%;
  /* height: 100%; */
  /* padding: 50px 20px; */
  text-align: center;
  /* border: 5px solid red; */
}

/* #toc-name { */
  /* border: 5px solid red; */
  /* text-align: center; */
/* } */

/* .toc ul li::before { */
  /* content: "->"; */
/* } */

.content, .toc {
  display: inline-block;
  box-sizing: border-box;
}

.content h1, .content h2 {
  text-align: center;
  font-weight: bold;
}

/* TODO: move `.content h2` (subheadings) a bit further down from the text above them */

.post-info {
  text-align: center;
}

#post-name {
  font-size: 75px;
}

/* TODO: how to position it directly under post name without the position and top "hack" */
#post-date {
  font-weight: lighter;
  position: relative;
  top: -45px;
}

#toc-name {
  text-align: center;
}

.footnotes {
  border-top: 1px solid #E0E0E0;
  margin-top: 50px;
}

.footnotes ol li {
  font-size: 15px;
  /* box-sizing: border-box; */
  /* border: 5px solid red; */
}

.footnotes ol li a {
  text-decoration: underline;  
}
